HandleAPIOnNavigationPage/HandleAPIOnNavigationPage.Android/obj/
HandleAPIOnNavigationPage/HandleAPIOnNavigationPage.Android/bin/
HandleAPIOnNavigationPage/HandleAPIOnNavigationPage.iOS/obj/
HandleAPIOnNavigationPage/HandleAPIOnNavigationPage/bin/
HandleAPIOnNavigationPage/HandleAPIOnNavigationPage/obj/
